.Form{
    width: 100%;
    align-items: center;
    margin-left:5%;
    margin-right:5%;
    justify-content: space-between;//utiliser tout l'espace disponible


    .Button{
        border-radius: 18px;
        margin-left:40% ;
    }
}