.LastContent{
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;//utiliser tout l'espace disponible

    

    .Form{
        margin: auto;
    }
     .Title{
         color: var(--blue);  
    }
     .Button{
      border-radius: 18px;
      margin-left: 30%;
      margin-bottom: 2%;
   }
}