.Content{
   width: 75%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;//utiliser tout l'espace disponible

    

    .Search{
        background-image: url("../../../public/images/search-icon.png");
        width: 50%;
        box-sizing: border-box;
        border: px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
        background-color: var( --siderColor);
        background-repeat: no-repeat;
        background-position: 98%;
        padding: 10px;
        background-size: contain;//ne pas perder le ratio et la qualité de l'image
        height: auto;
        margin: auto;
        align-self: center;
        
    
     }
     .Teachers{
        display: flex;

      }
      .Title{
         color: var(--blue); 
         text-align: center; 
       }
       .Buttons{
         margin-top:1%;

         .Button{
            border-radius: 18px;
            margin-left: 30%;
            margin-bottom: 2%;
         }
      }
      
      
}