.Item{
    display: flex;
    align-items: center;
    
    .Status{
        border-radius: 18rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-primary );
        color: var(--color-primary);
        margin: 0.5rem;
        padding: 5px;
    }

    .Active{
        background-color: var(--green);
        border: 1px solid var(--green);
        color: var(--green);
    }
}