.TeacherCard{
    width: 31%;
    align-items: center;
    margin: 20px;
    margin-bottom: 110px;
    height: auto;
    max-height: 60vh;
    position: relative;
    
    


    .Image{
        background-image: url("../../../../public/images/avatar-g.png");
        background-repeat: no-repeat;
        background-size: contain;//ne pas perder le ratio et la qualité de l'image
        height: auto;
        min-height: 30px;
        left:30%; top:30px; 
        position:relative;
        border-radius: 150px;
        min-width: 30px;
        background-size : contain;
        width : 5rem; height : 5rem;
        border: none;

    }
    .ImageMan{
        background-image: url("../../../../public/images/avatar-m.jpg");
        background-repeat: no-repeat;
        background-size: contain;//ne pas perder le ratio et la qualité de l'image
        height: auto;
        min-height: 100px;
        left:30%; top:30px; 
        position:relative;
        min-width: 150px;
        background-size : contain;
        width : 8rem; height : 1rem;
        border: none;

    }
   
    .Content{
        top:2rem;
        padding: 2rem; 
        height: 100%;
        align-content: center;
        background-color: var( --siderColor);

     }
    .Start{
        background-image: url("../../../../public/images/starts.webp");
        background-repeat: no-repeat;
        background-size: contain;//ne pas perder le ratio et la qualité de l'image
        height: auto;
        width: auto;
        min-height: 30px;

    }

    .B{
       height: auto;
        min-height: 30px;
        left:30%; bottom:15px; 
        position:relative;
        border-radius: 150px;
        min-width: 30px;
        background-size : contain;
        width : 5rem; height : 5rem;
        border: none;

    }
    .Button{
        background-color: var(--blue);
        border-radius: 18px;
        height: auto;
        padding: 0 1rem 0rem  1rem;
        min-height: 2rem;
        
     }

}