.TeacherCard{
    width: 31%;
    align-items: center;
    margin: 20px;
    height: auto;
    min-height: 30%;
    


    .Image{
        background-image: url("../../../../public/images/avatar-g.png");
        background-repeat: no-repeat;
        background-size: contain;//ne pas perder le ratio et la qualité de l'image
        height: auto;
        min-height: 30px;
        left:30%; top:30px; 
        position:relative;
        border-radius: 150px;
        min-width: 30px;
        background-size : contain;
        display : inline-block;
        width : 5rem; height : 5rem;
        border: none;

    }
    .Infos{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        height: 100%;
        align-content: center;
        align-content: center;

    }

    .Content{
        top:2rem;
        padding: 2rem; 
        height: 100%;
        align-content: center;

    }
    .Start{
        background-image: url("../../../../public/images/starts.webp");
        background-repeat: no-repeat;
        background-size: contain;//ne pas perder le ratio et la qualité de l'image
        height: auto;
        width: auto;
        min-height: 30px;

    }
    .Button{
        background-color: var(--blue);
        border-radius: 18px;
        margin-left: 4rem;
        height: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        min-height: 30px;
        position:relative;
     }

}