
    .Col{

        background-color: var( --siderColor);
        padding: 0.2rem;
        margin-bottom: 155rem auto;
        margin-left:10%;
        margin-right:10%;
        margin-bottom:10%;

        height: auto;
        width: 100%;
        height: auto;
        min-height: 6rem;
        justify-content: space-between;//utiliser tout l'espace disponible



        .Hide{
            height: auto;
        }
        .Error{
            border-color: red;
        }
         .None{
            visibility: hidden;
            
        
         }

        

    }

    